<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id = "myCat"
                class="com.devmind.firstapp.Cat"
    >
    </bean>

    <bean id="myMouse"
          class="com.devmind.firstapp.Mouse">
        <constructor-arg value="verde" />
    </bean>

    <bean id = "myDog"
          class="com.devmind.firstapp.Dog"
    >
    </bean>

</beans>

